*.backup
.automated-rendering/screenshot-capture/node_modules/*
.automated-rendering/screenshot-capture/screenshots/*
!.automated-rendering/screenshot-capture/screenshots/.gitkeep
.automated-rendering/screenshot-capture/test-results/
