*.backup
.automated-rendering/screenshot-capture/node_modules/*
.automated-rendering/screenshot-capture/screenshots/*
!.automated-rendering/screenshot-capture/screenshots/index.html
.automated-rendering/screenshot-capture/test-results/
.DS_Store
